    body {
        font-family: "Segoe UI", Arial, sans-serif;
        line-height: 1.6;
        background-color: #ecf2f5;
        color: #2d3436;
        margin: 0;
        padding: 0;
    }
    code {
        border: 1px solid #b5b5b5;
        color: #2d3436;
        padding: 3px 6px;
        border-radius: 0px;
    }
    pre code {
        border: none;
        padding: 0;
    }
    .site-header {
        padding: 16px 24px;
        background-color: #0073bf;
    }
    .header-top {
        display: flex;
        align-items: center;
        gap: 24px;
        color: #ffffff;

    }

    a {
        color: #a8d4f4;
    }
    .logo {
        width: 90px;
        height: auto;

    }

    .site-title {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 600;
    }
    footer {
        text-align: center;
        color: #2d3436;
        margin-top: 40px;
        padding: 16px 24px;
        border-top: 10px solid #0073bf;
    }
    .header-nav {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        font-family: monospace;
    }

    .header-nav a {
        color: #ffffff;
        text-decoration: none;
        padding: 4px 6px;
        border-radius: 4px;
        transition: color 0.2s ease, background-color 0.2s ease;
    }

    .header-nav a:hover {
        color: #ffffff;
        background-color: rgba(60, 135, 190, 0.60)
    }

    table {
        width: 95%;
        border-collapse: collapse;
        margin-bottom: 25px;
    
    }
    th, td {
        border: 1px solid #737373;
        padding: 10px;
        text-align: left;
        
    }
    th {
        color: #232323;
        background-color: #007ccf8a;
    }
    h1 {
        padding-bottom: 10px;
    }
    h2 {
        padding-left: 10px;
    }
    .note {
        background-color: #e8f0fe;
        padding-left: 30px;

    }
    .copy-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
    }
    .important {
        position: relative;
        display: inline-block;
        border: 2px solid #2e7d32;
        background-color: #e8f5e9;
        color: #1b5e20;
        padding: 20px;
        padding-top: 44px;
    }

    .important::before {
        content: "! Important";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #2e7d32;
        color: white;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 700;
        text-transform: none;
    }

    .errorbox {
        position: relative;
        display: inline-block;
        border: 2px solid #7d2e2e;
        background-color: #e8f5e9;
        color: #5e1b1b;
        padding: 20px;
        padding-top: 44px;
    }

    .errorbox::before {
        content: "X Incorrect use ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #7d2e2e;
        color: white;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 700;
        text-transform: none;
    }


    pre {
        width: 95%;

        position: relative;
        border: 1px solid #b5b5b5;
        padding: 10px;
        padding-right: 15px;
        overflow-x: auto;
    }